{% extends 'base.html' %}

{% block title %} Pagina Pessoas {% endblock %}
{% block main %}
    <div class="row">
        <div class="col">

        </div>
        <div class="col-6">
            <h3>Listagem de Clientes</h3>
            <ul class="list-group">
                {% for person in persons %}
                    <li class="list-group-item">
                        <a href="{% url 'person_update' person.id %}">{{ person.first_name }}</a>
                        <a href="{% url 'person_delete' person.id %}" class="trash-item">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                    </li>
                {% endfor %}
            </ul>
            <br>
            <a href="{% url 'person_new' %}" class="btn btn-primary"> Novo Cliente</a>
        </div>

        <div class="col">
            {% if user.is_authenticated %}
                <p>Ola {{user.username }}
                    <a href="{% url 'logout' %}">
                        <span class="badge badge-dark">Sair</span>
                    </a>
                </p>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block footer %}
    <footer class="footer">
      <div class="container">
        <span class="text-muted">Desenvolvimento com Django 2.x</span>
      </div>
    </footer>
{% endblock %}